.screen1 {
    display: flex;
    justify-content: center;
    background-image: url(../images/grid-image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.screen1-container{
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.searchbar {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 0px;
}

.searchbar input {
    display: flex;
    padding: 20px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    padding-right: 200px;
    border: none;
    font-size: 20px;
}

.searchbar button {
    display: flex;
    padding: 20px;
    border-radius: 0px;
    background-color: rgba(84, 116, 253, 1);
    ;
    border: none;
    font-size: 20px;
    color: white;
}

.searchbar button:hover {
    background: black;
}

.searchbar button:active {
    background: blueviolet;
}

.center-bar {
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.screen1-header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}

.screen1-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: rgba(84, 116, 253, 1);
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    min-width: 320px;
    width: 100%;
}

.navbar-header {
    display: flex;
    justify-self: center;
}

.navbar-links {
    display: flex;
    color: white;
    padding: 10px;
    justify-content: center;
}

.navbar-links a:hover {
    color: black;
}

.screen2 {
    display: flex;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%
}

.images {
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.leftside {
    display: flex;
    padding-top: 8%;
    padding-left: 50px;
    flex-direction: column;
    width: 50%;
}

.leftside button {
    display: flex;
    padding: 15px;
    width: fit-content;
    border-radius: 0px;
    background-color: rgba(84, 116, 253, 1);
    border: none;
    color: white;
}

.leftside button:hover {
    background: black;
}

.leftside button:active {
    background: blueviolet;
}

.rightside {
    padding: 50px;
    display: flex;
    width: 50%;
}


.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: (4 1fr);
    grid-template-rows: (4 1fr);
}

.grid-image1 {
    grid-column: 1/2;
}

.grid-image2 {
    grid-column: 3/4;
}

.image-area {
    padding: 50px;
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.material-symbols-outlined{
    margin-top: 20px;
    display: flex;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 40,
  'opsz' 48
}
.image-area span{
    color: blue;
    margin-left: 60px;
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

.image-area p{
    color:white;
font-size: 20px;
}

.image-area-left {
    margin-left: 20%;

}
.image-area-mid span{
    color: red;

}

.image-area-right {
    margin-right: 20%;

}

.screen3 {
    display: flex;
    justify-content: flex-start;
    background-image: url(../images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 100%;
}

.screen3-items{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #000;
    color: #fff;
    opacity: .5;
    width: 35vw;
    height: fit-content;
    margin: 150px 100px 120px 100px;
    padding:10px 10px;
    font-size:13px;
}

.screen3-container h2 {}

.screen3-container h1 {}

.screen3-container p {}

.screen3 button {
    display: flex;
    padding: 15px;
    width: fit-content;
    border-radius: 0px;
    background-color: rgba(84, 116, 253, 1);
    border: none;
    color: white;
}

.screen3 button:hover {
    background: black;
}

.screen3 button:active {
    background: blueviolet;
}






.screen4 {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 100%
}
.screen4__container{
    display: flex;
    justify-content: flex-end;
}


.screen4__items{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000;
    color: #fff;
    opacity: .5;
    width: 35vw;
    height: fit-content;
    margin: 100px 100px 100px 100px;
    padding:10px 10px;
    font-size:13px;

}
.screen4 button {
    display: flex;
    padding: 15px;
    width: fit-content;
    border-radius: 0px;
    background-color: rgba(84, 116, 253, 1);
    border: none;
    color: white;
}

.screen4 button:hover {
    background: black;
}

.screen4 button:active {
    background: blueviolet;
}
.screen4-container h2 {
    color: white;
}

.screen4-container h1 {}

.screen4-container p {}

.screen5 {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%
}

.screen5-container {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding: 5%;
}

.screen5 h2 {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    justify-items: center;
    color: white;
    margin-left: 20px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;



}

.screen5-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 69, 69);
}

.screen5-container h1 {
    margin-top: 60px;
    color: white;
    margin-left: 20px;

}

.screen5-container img {
    display: flex;
    height: 100%;

}

.screen5-container p {
    color: white;
    margin-left: 20px;
    font-style: normal;
    font-weight: 40;
    font-size: 15px;
    line-height: 30px;


}